.card_box_indormasi_wrap
{
    width: 100%;
    height: fit-content;
    background-color: #efefef;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.473);
    padding: 25 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.title_page_wrap
{
    width: 100%;
    height: 40px;
    background-color: #182a52;
    padding: 25 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.title_page_wrap span.title_page_font
{
    font-size: 24px;
    font-weight: 600;
    margin-left: 18px;
    color: #fff;
}
.title_page_wrap span i
{
    font-size: 30px;
    color: #efef26;
}
.card_box_indormasi_wrap .box_informasi_wrap
{
    display: flex;
    flex-direction: row;
    
}
.card_box_indormasi_wrap .box_informasi_wrap .foto_profil_wrap .foto_profil
{
    width: 280px;
    height: 380px;
}
.card_box_indormasi_wrap .box_informasi_wrap .foto_profil_wrap .foto_profil .image_mahasiswa
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa
{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .title_data_wrap
{
    margin-bottom: 20px;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .title_data_wrap .title_data
{
    width: fit-content;
    height: fit-content;
    font-size: 35px;
    font-weight: 680;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .title_data_wrap .nim_mahasiswa
{
    font-size: 18px;
    font-weight: 380;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .sub_data_wrap
{
    margin-bottom: 10px;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .sub_data_wrap .label_font
{
    font-size: 17px;
    font-weight: 700;
}
.card_box_indormasi_wrap .box_informasi_wrap .box_informasi_mahasiswa .sub_data_wrap .font_informasi
{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid black;
    max-width: 90%;
    width: 440px;
}
.card_box_indormasi_wrap .tombol_aksi
{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.card_box_indormasi_wrap .tombol_aksi .tombol_edit
{
    width: 160px;
    height: 38px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: rgb(238, 238, 51);
    border: none;
    cursor: pointer;
}
.card_box_indormasi_wrap .tombol_aksi .tombol_edit:hover
{
    background-color: rgb(255, 255, 0);
}
.card_box_indormasi_wrap .tombol_aksi .tombol_edit span 
{
    font-size: 14px;
    font-weight: 500;

}
.card_box_indormasi_wrap .tombol_aksi .tombol_edit i
{
    font-size: 14px;
    margin-right: 2px;
}